/******************** RESET ********************/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0; padding:0; border:0; }
body{line-height:1.2}
table{border-collapse:separate; border-spacing:0}
caption, th, td{text-align:left; font-weight:normal}
table, td, th{vertical-align:middle}
blockquote:before, blockquote:after, q:before, q:after{content:""}
blockquote, q{quotes:""""}
a img{border:none}

html, body {
    width:100%;
    height:20%;
    
    

	
}


div#contact #genel { /* forum hizalama*/
    width:640px;
    height:80%;
    margin:0 auto;
    position:relative;
	margin-top:-40px;
	
	
}




#iletisimformu {
	float: left;
	
	width: 500px;
	height: 402px;	
	margin-left: -6px;
}

#iletisimformu img {
	
	margin: 20px 0 -90px 40px;
	
	
}

#iletisimformu img#resim {
	
	margin-right:-50px;
	
}

#genelform form .kolon {
	float: left;
	width: 100%;
	margin: 3px 0 0 40px;
	
}

#genelform form .kolon .tarih {
	float: right;
	margin: 12px 60px 60px 10px;
	
	
}



#genelform form .kolon .sol {
	float: left;
	
}

#genelform form .kolon .sag {
	float: left;
	width: 50%;
}

#genelform form .kolon input {
	background-color:#EAEDF2;
	width: 200px;
	height: 20px;
	font-size: 13px;
	text-indent: 10px;
	color: #504A4B;
	border-radius: 10px;	
	font-family: Arial, "Lucida Grande", sans-serif;
}

#genelform form .kolon .onaylanma {
	background-color:#EAEDF2;
}



#genelform form #website {
	
	margin-right: 20px;
	
	float: left;
	
}

#genelform form #tetkik {
	
	margin-right: 20px;
	margin-top:-50px;
	float: left;
	
}

#genelform form #teshis {
	
	margin-right: 20px;
	margin-top:-25px;
	float: left;
}

#genelform form #teshisgonder {
	
	margin-right: 20px;
	margin-top:0px;
	
}



#genelform form #isim {
	margin-right: 20px;
	margin-top: 0px;
}

#genelform form #gonder {
	margin-right: 20px;
	margin-top: 20px;
}




#genelform form .kolon textarea#konu {
	background-color:#EAEDF2;
	width: 200px;
	height: 80px;
	font-size: 13px;
	border-radius: 10px;
	color: #504A4B;
	max-height: 96px;
	max-width: 373px;
	padding: 17px;
	font-family: Arial, "Lucida Grande", sans-serif;
	float:left;
}




#genelform form .buton {
	width: 84px !important;
	height: 35px !important;
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
	top: -40px;
	left: -85px;
}

#genelform form label {
	display: none !important;
}

#genelform form .kolon p.yazi{
color: #AA9C9C;
font-family: Arial, "Lucida Grande", sans-serif;
font-size:13px;
margin:5px;
}

#genelform form .kolon p.tetkik{
color: #AA9C9C;
font-family: Arial, "Lucida Grande", sans-serif;
font-size:13px;
margin:5px;
position:relative ;top:-50px;
}

#genelform form .kolon p.teshis{
color: #AA9C9C;
font-family: Arial, "Lucida Grande", sans-serif;
font-size:13px;
margin:5px;
position:relative ;top:-10px;
}





